@media (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  #about {
    grid-template-columns: auto;
  }
  .job-info {
    grid-template-columns: 1fr;
  }
  .certification {
    grid-template-columns: 1fr;
  }
  .project-info {
    grid-template-columns: 1fr;
  }
}
